.yule-footer-summary {
  background: #fafafa url(yule-log.png) 8px 50% no-repeat;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 8px 5px 40px;
  color: #777;
}
.yule-footer-summary em {
  color: #222;
}

.yule-summary ,
.yule-queries ,
.yule-pages {
	margin-bottom: 20px;
  padding: 0 10px 10px 10px;
  border: 1px solid #ccc;
  background: #fafafa;
  position: relative;
}
.yule-summary h3 ,
.yule-queries h3 ,
.yule-pages h3 {
	margin: 0;
	padding: 5px 0;
	font-size: 1.3em;
}
.yule-summary .pager ,
.yule-queries .pager ,
.yule-pages .pager {
	margin: 10px 0 0 0;
}

.yule-more {
  position: absolute;
  top: 10px;
  right: 10px;	
}

.yule-summary dl {
  margin: 0;
  padding: 0;
}
.yule-summary dl dt {
  margin: 0;
  padding: 5px 0;
  float: left;
  width: 20%;
  clear: left;
  border-top: 1px solid #eee;
  color: #666;
}
.yule-summary dl dd {
  width: 78%;
  margin: 0;
  padding: 5px 0;
  border-top: 1px solid #eee;
  float: left;
}

.yule-queries table ,
.yule-pages table {
  margin: 0;
  padding: 0;
}
.yule-queries table thead th,
.yule-pages table thead th {
  font-size: 1em;
}
.yule-queries table tr.read td {
	background-color: #F7FFF5;
}
.yule-queries table tr.write td {
  background-color: #FDF9D3;
}
.yule-queries table tr td {
  padding: 6px;	
}
.yule-queries .pos {
  color: #777;
}
.yule-queries .time ,
.yule-pages .time {
  font-size: 0.7em;
}
.yule-queries .function {
  font-size: 0.8em;
  color: #555;
}

.yule-filter-form {
  padding: 10px 20px;
}
.yule-filter-form h3 {
  float: left;
  margin: 0 2em 0 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.8em;
}
.yule-filter-form .form-item {
  float: left;
  margin: 0 2em 0 0;
  padding: 0;
}
.yule-filter-form .form-item input {
  font-size: 0.85em;	
  padding: 0.4em;
}
.yule-filter-form .form-item label {
  float: left;
  margin-right: 1em;
  font-size: 1em;
  line-height: 1.8em;
}
.yule-filter-form .form-item .form-value {
  float: left;
}
.yule-filter-form .form-submit {
  float: left;
  margin: 0;
}


